@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

    
header {
    background-color: rgb(245, 245, 245);
    font-family: Arial, sans-serif;
    
}
body {
  font-family: Arial, sans-serif;
  margin: 5px;
  padding: 10px;
}
.cabecalho {
  background-color: #070707;
  color: #fff;
  padding: 20px;
  
}
.textos {
  padding: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f8f8f8;
  text-align: left;
}


.rodape {
  background-color: #0a0a0a;
  color: #fff;
  padding: 20px;
  
}
