@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');



    
header {
    background-color: rgb(245, 245, 245);
    font-style: normal;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.cabecalho {
  background-color: #070707;
  color: #fff;
  padding: 20px;
  
}
.textos {
  padding: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  text-align: left;
}


.rodape {
  background-color: #0a0a0a;
  color: #fff;
  padding: 20px;
  
}
